<h1>Profile Edit</h1>
<style type="text/css">
	form div span {
		display: inline-block;
		width: 150px;
	}
</style>

<div fileupload hide-input-file="true" callback="profCtrl.uploadImage;"></div>

<form ng-submit="profCtrl.updateProfile();" ng-init="profCtrl.prepareEditFormFields();">
	<button type="button" ng-click="profCtrl.mode('view');"">Cancel</button>
	<button type="submit">Save</button>

	<div><span>Name:</span> <input type="text" required ng-model="profCtrl.u.public.displayName"></div>
	<br />
	<div><span>Social Media:</span>
		<div ng-repeat="(sm_key, sm) in profCtrl.pf.socialMedia">
			<span>{{sm}}</span> <input type="text" placeholder="{{sm_key}}" ng-model="profCtrl.u.public.social_media[sm_key]">
		</div>
	</div>

</form>
